@import url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);

.Container { 
	padding-top: 15%;
	margin-left: 25%; 
 }

.Container h3 {
 	margin: 0 0 5% 0;
 }

.Slider { 
	width: 95%;
 }

.SliderImages { 
 	width: 80%;
  	padding: 0 6% 0 6%; 
 }

