.TopPanel {
	height: 20%;
    top: 0;
    position: absolute;
    width: 80%;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding: 0% 0 0 20%;
} 

.Title { 
	height: 50%;
	width: 96%;
	padding-top: 8%;
	margin: 0;
}

.BoxIndicator { 
    width: 8%;
    height: 6px;
    margin: 0 0 0 44%;
	background-color: #55a0c0; 
}