.TopPanel {
	height: 20%;
	top: 0;
	position: absolute;
	width: 79%;
	font-size: 16pt; 
	font-weight: bold;
	text-align: center;
	padding: 0% 0 0 20%;
} 

.Title { 
	padding: 5% 5% 5% 0;
}

.BoxIndicator { 
    width: 8%;
    height: 6px;
    margin: 3% 0 0 44%;
	background-color: #55a0c0; 
}